<p>{{months?.length}}</p>
<p>    Current page: {{pageIndex}}</p>
<button pButton type="button" (click)="onclick()" label="Click"></button>

<h3>MGA</h3>
<p-dropdown #dddw [options]="myMgas" [(ngModel)]="selectedMyMga" placeholder="Select a Mga" (onChange)="handleChange($event)"></p-dropdown>
<p>Selected MGA: {{selectedMyMga?.name}}</p>

<p-carousel #crsl [value]="months" numVisible="2" pageLinks="9" headerText="Monatsübersicht" (onPage)="setPage($event)" [firstVisible]="goToIndex">
  <ng-template let-month pTemplate="item" >
    <div class="ui-tabview">
      <div class="ui-grid-row">
        <div class="ui-grid-col-12"><i class="fa fa-quora" aria-hidden="true"></i>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-6">OV.amountOfRequiredActivations</div>
        <div class="ui-grid-col-2"><span [class]="'label '+geSeverityClass(month.amountOfRequiredActivations.severity)">{{month.amountOfRequiredActivations.value}}</span></div>
        <div class="ui-grid-col-2"><span [class]="'label '+geSeverityClass(month.amountOfRequiredActivations.severity)">{{month.amountOfRequiredActivations.severity}}</span></div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-6" ><span class="badge" [attr.data-badge]="month.amountOfTimeSeriesInCriticalStatus.value">OV.amountOfTimeSeriesInCriticalStatus</span></div>
        <div class="ui-grid-col-2">{{month.amountOfTimeSeriesInCriticalStatus.value}}</div>
        <div class="ui-grid-col-2">{{month.amountOfTimeSeriesInCriticalStatus.severity}}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6"><span [class]="'label '+geSeverityClass(month.amountOfTimeSeriesNotSent.severity)" [attr.data-badge]="month.amountOfTimeSeriesNotSent.value">OV.amountOfTimeSeriesNotSent</span></div>
        <div class="ui-grid-col-2">{{month.amountOfTimeSeriesNotSent.value}}</div>
        <div class="ui-grid-col-2">{{month.amountOfTimeSeriesNotSent.severity}}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">OV.amountOfMeteringPointsNotPreparedForMuMM</div>
        <div class="ui-grid-col-2"><span class="border1">{{month.amountOfMeteringPointsNotPreparedForMuMM.value}}</span></div>
        <div class="ui-grid-col-2">{{month.amountOfMeteringPointsNotPreparedForMuMM.severity}}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">OV.amountExpectedImportedTs</div>
        <div class="ui-grid-col-2">{{month.amountOfExpectedNetTimeSeries.value}}/{{month.amountOfImportedNetTimeSeries.value}}</div>
        <div class="ui-grid-col-2">{{month.amountOfExpectedNetTimeSeries.severity}}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">OV.saldoForLatestTimeSeries</div>
        <div class="ui-grid-col-2">{{month.saldoForLatestTimeSeries.value}}</div>
        <div class="ui-grid-col-2">{{month.saldoForLatestTimeSeries.severity}}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">OV.saldoForDifferenceToBalancingRelevantVersion</div>
        <div class="ui-grid-col-2">{{month.saldoForDifferenceToBalancingRelevantVersion.value}}</div>
        <div class="ui-grid-col-2">{{month.saldoForDifferenceToBalancingRelevantVersion.severity}}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">OV.saldoForDifferenceToLatestVersion</div>
        <div class="ui-grid-col-2"><span [style.color] = "month.saldoForDifferenceToLatestVersion.severity">{{month.saldoForDifferenceToLatestVersion.value}}</span></div>
        <div class="ui-grid-col-2">{{month.saldoForDifferenceToLatestVersion.severity}}</div>
      </div>
    </div>
  </ng-template>
</p-carousel>
